
main {
  display: grid;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
  grid-template-columns: 50% 50%;
}

#a {
  grid-area: 1 / 1 / 3 / 3;
  background-color: #00ee00;
  line-height: 75px;
}

#b {
  grid-area: 2 / 1 / 4 / 3;
  background-color: #03db1b;
  line-height: 150px;
}

#c {
  grid-area: 3 / 1 / 4 / 3;
  background: #07c836;
  line-height: 125px;
}

#d {
  grid-area: 4 / 1 / 5 / 3;
  background: #0bb651;
  line-height: 125px;
}

#c, #d {
}

#e, #f {
  background: linear-gradient(#0fa36c, #129088);
  line-height: 250px;
}

#g, #h {
  background: linear-gradient(#167ea3,#1a6bbe);
  line-height: 250px;
}

#i {
  grid-area: 7 / 1 / 8 / 3;
  background-color: #2246f5;
  line-height: 80px;
}

@media (min-width: 768px) {

  body {
    max-width: 960px;
    margin: 0 auto;
  }

  main {
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
  }

  #a {
    grid-area: 1 / 1 / 2 / 6;
    line-height: 100px;
    background: linear-gradient(to right, #e2eb75, #fc83e4);
  }

  #b {
    grid-area: 2/ 1 / 6 / 2;
    line-height: 600px;
    background-color: #e2eb75;
  }

  #c {
    grid-area: 2 / 2 / 3 / 4;
    background: linear-gradient(to right, #e7d68b, #ecc1a1);
  }

  #d {
    grid-area: 2 / 4 / 3 / 6;
    background: linear-gradient(to right, #f1acb7, #fc83e4);
  }

  #c, #d {
    line-height: 200px;
  }

  #e {
    grid-area: 3 / 2 / 4 / 3;
    background: none;
    background-color: #e7d68b;
  }

  #f {
    grid-area: 3 / 3 / 4 / 4;
    background: none;
    background-color: #ecc1a1;
  }

  #g {
    grid-area: 3 / 4 / 4 / 5;
    background: none;
    background-color: #f1acb7;
  }

  #h {
    grid-area: 3 / 5 / 4 / 6;
    background: none;
    background-color: #fc83e4;
  }

  #e, #f, #g, #h {
    line-height: 250px;
  }

  #i {
    grid-area: 4 / 2 / 5 / 6;
    line-height: 150px;
    background-color: none;
    background: linear-gradient(to right, #e7d68b, #fc83e4);
  }

}

@media (min-width: 520px) and (max-width: 767px) {

  #a {
    background-color: #00efd7;
  }
  
  #b {
    background-color: #1be7c5;
  }

  #c {
    background-color: #36dfb3;
  }

  #d {
    background-color: #52d8a1;
  }

  #e, #f {
    background: linear-gradient(#6dd08f, #89c97e);
  }

  #g, #h {
    background: linear-gradient(#a4c16c, #c0ba5a);
  }

  #i {
    background-color: #f7ab37;
  }
  
}